.window {
    width: calc(100% - 50px);
    max-width: 1000px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 20px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    color: black;
}